body {
    background: black url(../images/landscape-background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    min-height: 400px;
    margin: auto;
}

a:link, a:visited {
    font-family: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #0091DA;
}

#currentPageLink {
    color: #0091DA;
}

 #header {
    background-color: #000000;
    width: 100%;
    height: 130px;
    margin: 0px 0px;
    padding: 20px 0px 0px 0px;
    border-bottom: 6px #ffffff solid;
}

.footer {
    clear: both;
    text-align: center;
    width: 100%;
    background-color: #000000;
    height: 50px;
    padding: 10px 0px 3px 0px;
    border-top: 3px #ffffff solid;
}

.footer p{
    line-height: 25px;
    font-size: 14px;
    color: #0091DA;
}

#copyright{
    font-size: 10px;
    color: #ffffff;
}


#nav {
    font-family: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #cccccc;
    width: 1090px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
#tagline {
    width: 1000px;
    text-align: right;
    margin: auto;
    font-style: italic;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #0091DA;
}

H2 {
    font-family: 'Arial Black', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    margin: 30px 0px 40px 0px;
    text-align: center;
    text-shadow: 3px 2px #000000;
}

H3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #EAAA00;
    text-shadow: 3px 2px #000000;
    margin: 0px 0px 30px 0px;
    text-align: center;
}
H4 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #0091DA;
    text-shadow: 3px 2px #000000;
    margin: 0px 0px 30px 0px;
    text-align: center;  
}
.navlink {
    margin: 0px 50px 0px 0px;
    min-height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 30px;
    vertical-align: bottom;
    margin-bottom: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #0091DA;
    min-width: 200px;
    box-shadow: 3px 3px 3px #000000;
    z-index: 1;
}
.dropdown-content .arrowHolder{
    background: #000000;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 5px;
}
.dropdown:hover .navlink{
    color: #0091DA;
}
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.btLogoNav{
    height: 100px;
    margin: 10px 30px -10px 30px;
}
#btLogoAbout {
    height: 100px;
    margin: 10px 30px -10px 30px;
}
#btLogoContact{
    height: 130px;
    margin: 10px 0px 0px auto; 
}

video {
    display: inline;
    float: left;
    margin: 0px 30px 30px 0px;
}
#brandonPortrait {
    display: inline;
    float: left;
    width: 300px;
}
.contentTop{
    margin: 30px auto 0px auto;
    text-align: center;
    width: 960px;
    float: left;
}
#contentTopLeft {
    text-align: center;
    width: 480px;
    margin: 0px auto;
    float: left;
}
#contentTopRight {
    text-align: center;
    width: 480px;
    margin: 0px auto;
    float: left;
}
.contentMiddle p, .contentBottom p {
    line-height: 23px;
    margin-bottom: 15px; 
}
#middleLeft, #bottomLeft {
    float: left;
    width: 560px;
    margin-bottom: 20px;
}
#middleRight, #bottomRight {
    float: left;
    width: 400px;
    text-align: center;
}
#middleLeftContact {
    width: 480px;
    margin: 0px auto;
    float: left;
}

#middleRightContact {
    width: 480px;
    margin: 0px auto;
    float: left;

}

#middleRight hr {
    width: 65%;
    height: 1px;
    background-color: #0091DA;
    border-width: 0px;
    margin-bottom: 40px;
}

.contentBottom hr {
    width: 35%;
    height: 3px;
    background-color: #EAAA00;
    border-width: 0px;
    display: block;
    margin: 0px auto 20px auto;
}

#buttonSectionTitle {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial", "Helvetica Neue", helvetica, sans-serif;
    margin-bottom: 40px;
}
.blueButton {
    width: 250px;
    min-height: 18px;
    background-color: #0091DA;
    color: #ffffff;
    font-family: "Arial Black", "Helvetica Neue", helvetica, sans-serif;
    font-size: 16px;
    margin: 0px auto 40px auto;
    padding: 25px 0px;
    box-shadow: 2px 4px 1px #000000;
}
.arrowMain {
    margin-bottom: 20px;
    width: 50px;
}
.arrowNav {
    width: 30px;
    transform: rotate(180deg);
    margin-top: -15px;
}
.contentBottom {
    clear: both;
    text-align: center;
    margin: 30px 0px;    
}
.imgHomePortrait{
    height: 200px;
    margin: 0px 10px 0px 0px;
}

#imgTwo{
    margin-bottom: 100px;
}

#inlineLink {
    color: #EAAA00;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    font-family: 'Arial', "Helvetica Neue", helvetica, sans-serif;
}

#inlineLink:hover{
    color: #0091DA;
}

.contentMiddle {
    clear: both;
    text-align: left;
}

.contentMiddle H2, .contentMiddle H4 {
    text-align: left;
    margin: 10px 0px;
}
.contentMiddle ul li {
    line-height: 20px;
    list-style: none; /*removes standard bullet and color */
    margin-bottom: 10px;
    padding-left: 20px; /*accounts for hanging indent */
    text-indent: -10px; /*adds hanging indent */
}

.contentMiddle  ul li::before {
    content: "\2022";  /* \2022 is the unicode for a bullet */
    color: #0091DA;
    font-weight: bold; 
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 10px; /* Also needed for space (tweak if needed) */
}

.aboutServicesCoachingH3 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 30px;
}

.aboutServicesCoachingH4, #aboutH4Link {
    color: #0091DA;
    font-size: 24px;
    margin-bottom: 10px;
}

#aboutBig {
    margin: 0px auto;
    display: block;
    width: 300px;
}

#aboutLittlePicHolder{
    margin: 0px auto 0px auto;
    text-align: center;
}

#aboutLittleOne{
    width: 200px;
    margin-top: 20px;
}

#aboutLittleTwo{
    width: 200px;
    margin-top: -60px;
    margin-left: 20px;
}

.bottomRightQuote p {
    margin: 0px 40px;
    text-align: left;
}

#bottomRightQuote {
    margin: 50px auto 0px auto;
    text-align: left;
}

#servicesBlueSmallHeader {
    color: #0091DA;
    font-size: 16px;
    font-weight: bold;
}
.blueInlineText {
    color: #0091DA;
    font-weight: bold;
}
.marketingLink a:link, .marketingLink a:hover, .marketingLink a:visited {
    color: #EAAA00;
    font-size: 22px;
    text-shadow: 3px 2px #000000;
}
.contentBottomTestimonial {
    width: 960px;
    background-color: #0091DA;
    color: #000000;
    margin: 50px auto;
    padding: 30px 0px 0px 0px;
}
.testimonialPicHolder {
    width: 300px;
    display: inline;
    float: left;
    margin: 0px 30px 20px;
}
.testimonialPicHolder img {
    width: 300px;
}
.testimonialTextHolder {
    width: 570px;
    display: inline;
    float: left;
    text-align: left;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000000;
    color: #ffffff;
}
.testimonialSpacerBottom {
    clear: both;
    min-height: 10px;
}
#contactH2, #contactH4 {
    text-align: center;
    width: 480px;
    margin: 0px auto;
}
#contentBottomContact {
    text-align: left;
}

form {
    margin: 0px;
    background-color: #0091DA;
    min-height: 300px;
    display: inline;
    float: left;
    text-align: left;
}

.formInputs {
    width: 330px;
    background-color: #ffffff;
    margin: 15px 10px;
    text-align: left;
}
form p{
    margin:0px 10px;
}
#contactTitle{
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black", "Helvetica Neue", Arial, helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
}
#contactTagline {
    font-family: "Arial", "Helvetica Neue", helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.aboutQuote {
    width: 400px;
}